target/
work/
*.class

# eclipse
.project
.classpath
.settings/
.wtpmodules

# intellij
*.iml
*.ipr
*.iws
.idea

*.log
*.tlog

.DS_Store

# hprof
java_pid*

# vi backup file
*~

wsit/ws-rx/wsrm-impl/PersistentRmJunitTestDb/
wsit/ws-sx/wssx-impl/golden.mh
wsit/ws-sx/wssx-impl/golden.msg
wsit/ws-sx/wssx-impl/recvd.mh
wsit/ws-sx/wssx-impl/recvd.msg
