<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 1997, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Distribution License v. 1.0, which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: BSD-3-Clause

-->

<web-app
    metadata-complete="true"
    version="2.5"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>com.sun.faces.injectionProvider</param-name>
        <param-value>com.sun.faces.vendor.GlassFishInjectionProvider</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.forceLoadConfiguration</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <description>WS-Coordination registerResponse service endpoint</description>
        <display-name>WSCoord RegisterResponse</display-name>
        <servlet-name>RegistrationRequesterPortTypeImpl</servlet-name>
        <servlet-class>org.glassfish.webservices.JAXWSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>WS-Coordination register RPC service endpoint</description>
        <display-name>WSCoord Register RPC</display-name>
        <servlet-name>RegistrationPortTypeImpl</servlet-name>
        <servlet-class>org.glassfish.webservices.JAXWSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>WS-AtomicTransaction Coordinator service endpoint</description>
        <display-name>WSAT Coordinator</display-name>
        <servlet-name>CoordinatorPortTypeImpl</servlet-name>
        <servlet-class>org.glassfish.webservices.JAXWSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>WS-AtomicTransaction participant service endpoint</description>
        <display-name>WSAT Participant</display-name>
        <servlet-name>ParticipantPortTypeImpl</servlet-name>
        <servlet-class>org.glassfish.webservices.JAXWSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>WS-Coordination1.1 registerResponse service endpoint</description>
        <display-name>WSCoord1.1 RegisterResponse</display-name>
        <servlet-name>RegistrationRequesterPortTypeImpl11</servlet-name>
        <servlet-class>org.glassfish.webservices.JAXWSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>WS-Coordination1.1 register RPC service endpoint</description>
        <display-name>WSCoord1.1 Register RPC</display-name>
        <servlet-name>RegistrationPortTypeImpl11</servlet-name>
        <servlet-class>org.glassfish.webservices.JAXWSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>WS-AtomicTransaction1.1 Coordinator service endpoint</description>
        <display-name>WSAT1.1 Coordinator</display-name>
        <servlet-name>CoordinatorPortTypeImpl11</servlet-name>
        <servlet-class>org.glassfish.webservices.JAXWSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>WS-AtomicTransaction1.1 participant service endpoint</description>
        <display-name>WSAT1.1 Participant</display-name>
        <servlet-name>ParticipantPortTypeImpl11</servlet-name>
        <servlet-class>org.glassfish.webservices.JAXWSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationRequesterPortTypeImpl</servlet-name>
        <url-pattern>/RegistrationRequesterPortType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationPortTypeImpl</servlet-name>
        <url-pattern>/RegistrationPortTypeRPC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoordinatorPortTypeImpl</servlet-name>
        <url-pattern>/CoordinatorPortType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipantPortTypeImpl</servlet-name>
        <url-pattern>/ParticipantPortType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationRequesterPortTypeImpl11</servlet-name>
        <url-pattern>/RegistrationRequesterPortType11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationPortTypeImpl11</servlet-name>
        <url-pattern>/RegistrationPortTypeRPC11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoordinatorPortTypeImpl11</servlet-name>
        <url-pattern>/CoordinatorPortType11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipantPortTypeImpl11</servlet-name>
        <url-pattern>/ParticipantPortType11</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <res-ref-name>com.sun.xml.ws.tx.coord.v10.endpoint.RegistrationRequesterPortTypePortImpl/m_context</res-ref-name>
        <res-type>javax.xml.ws.WebServiceContext</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
        <injection-target>
            <injection-target-class>com.sun.xml.ws.tx.coord.v10.endpoint.RegistrationRequesterPortTypePortImpl</injection-target-class>
            <injection-target-name>m_context</injection-target-name>
        </injection-target>
    </resource-ref>
    <resource-ref>
        <res-ref-name>com.sun.xml.ws.tx.coord.v10.endpoint.RegistrationPortTypeRPCPortImpl/m_context</res-ref-name>
        <res-type>javax.xml.ws.WebServiceContext</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
        <injection-target>
            <injection-target-class>com.sun.xml.ws.tx.coord.v10.endpoint.RegistrationPortTypeRPCPortImpl</injection-target-class>
            <injection-target-name>m_context</injection-target-name>
        </injection-target>
    </resource-ref>
    <resource-ref>
        <res-ref-name>com.sun.xml.ws.tx.at.v10.endpoint.CoordinatorPortTypePortImpl/m_context</res-ref-name>
        <res-type>javax.xml.ws.WebServiceContext</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
        <injection-target>
            <injection-target-class>com.sun.xml.ws.tx.at.v10.endpoint.CoordinatorPortTypePortImpl</injection-target-class>
            <injection-target-name>m_context</injection-target-name>
        </injection-target>
    </resource-ref>
    <resource-ref>
        <res-ref-name>com.sun.xml.ws.tx.at.v10.endpoint.ParticipantPortTypePortImpl/m_context</res-ref-name>
        <res-type>javax.xml.ws.WebServiceContext</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
        <injection-target>
            <injection-target-class>com.sun.xml.ws.tx.at.v10.endpoint.ParticipantPortTypePortImpl</injection-target-class>
            <injection-target-name>m_context</injection-target-name>
        </injection-target>
    </resource-ref>

    <resource-ref>
        <res-ref-name>com.sun.xml.ws.tx.coord.v11.endpoint.RegistrationRequesterPortImpl/m_context</res-ref-name>
        <res-type>javax.xml.ws.WebServiceContext</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
        <injection-target>
            <injection-target-class>com.sun.xml.ws.tx.coord.v11.endpoint.RegistrationRequesterPortImpl</injection-target-class>
            <injection-target-name>m_context</injection-target-name>
        </injection-target>
    </resource-ref>
    <resource-ref>
        <res-ref-name>com.sun.xml.ws.tx.coord.v11.endpoint.RegistrationPortImpl/m_context</res-ref-name>
        <res-type>javax.xml.ws.WebServiceContext</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
        <injection-target>
            <injection-target-class>com.sun.xml.ws.tx.coord.v11.endpoint.RegistrationPortImpl</injection-target-class>
            <injection-target-name>m_context</injection-target-name>
        </injection-target>
    </resource-ref>
    <resource-ref>
        <res-ref-name>com.sun.xml.ws.tx.at.v11.endpoint.CoordinatorPortImpl/m_context</res-ref-name>
        <res-type>javax.xml.ws.WebServiceContext</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
        <injection-target>
            <injection-target-class>com.sun.xml.ws.tx.at.v11.endpoint.CoordinatorPortImpl</injection-target-class>
            <injection-target-name>m_context</injection-target-name>
        </injection-target>
    </resource-ref>
    <resource-ref>
        <res-ref-name>com.sun.xml.ws.tx.at.v11.endpoint.ParticipantPortImpl/m_context</res-ref-name>
        <res-type>javax.xml.ws.WebServiceContext</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
        <injection-target>
            <injection-target-class>com.sun.xml.ws.tx.at.v11.endpoint.ParticipantPortImpl</injection-target-class>
            <injection-target-name>m_context</injection-target-name>
        </injection-target>
    </resource-ref>
</web-app>
