#
# Copyright (c) 2021, 2025 Contributors to the Eclipse Foundation
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License v. 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0,
# or the Eclipse Distribution License v. 1.0 which is available at
# http://www.eclipse.org/org/documents/edl-v10.php.
#
# SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause
#

name: Metro WSIT

on: [push, pull_request]

jobs:
  build:
    name: Build on JDK ${{ matrix.java_version }}
    runs-on: ubuntu-latest
    outputs:
      jdk: ${{ steps.build.outputs.jdk }}
    strategy:
      matrix:
        java_version: [ 21 ]

    steps:
      - name: Checkout for build
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java_version }}
          cache: maven
      - name: Verify
        id: build
        run: |
          cd wsit
          mvn -B -V -U -C -Dalltests=true -Poss-release clean verify org.glassfish.copyright:glassfish-copyright-maven-plugin:check -Dgpg.skip=true
          cd ..
          echo "jdk=${{ matrix.java_version }}" >> $GITHUB_OUTPUT
      - name: Upload binary image
        uses: actions/upload-artifact@v6
        if: success()
        with:
          name: metro.zip
          path: wsit/bundles/metro-standalone/target/metro.zip

  test:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        test_suite:
          # - IN_VM (runs as part of the build)
          - TOMCAT
    name: Tests on ${{ matrix.test_suite }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tests
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ needs.build.outputs.jdk }}
          cache: maven
      - name: Download binaries
        uses: actions/download-artifact@v7
        with:
          name: metro.zip
      - name: Test
        run: |
          export ROOT=`pwd`
          unzip -q -d image metro.zip
          wget -q -O tomcat.zip https://archive.apache.org/dist/tomcat/tomcat-10/v10.1.25/bin/apache-tomcat-10.1.25.zip
          unzip -q tomcat.zip
          cd wsit
          mvn -B -V -U -C -am -Dalltests=true -Dgpg.skip=true -Poss-release clean verify -pl :wsit-tests-e2e -Dtomcat.home=$ROOT/apache-tomcat-10.1.25 -Dws.transport=${{ matrix.test_suite }} -Dws.localImage=$ROOT/image
